In [1]:
import pandas as pd
from pathlib import Path

In [2]:
df = pd.read_csv('E:\Courses\COURSERA\IBM Data Analyst Professional Certificate\IBM Data Analyst Capstone Project\W-5\CSV\m5_survey_data_technologies_normalised.csv')
df

,Respondent,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,C,C,MySQL,MySQL,Linux,Linux,NaN,NaN,Eclipse,NaN,NaN,NaN,NaN
2,4.0,C++,C#,SQLite,SQLite,Windows,Windows,NaN,NaN,Vim,NaN,NaN,NaN,NaN
3,4.0,C#,JavaScript,NaN,NaN,NaN,NaN,NaN,NaN,Visual Studio,NaN,NaN,NaN,NaN
4,4.0,Python,SQL,NaN,NaN,NaN,NaN,NaN,NaN,Visual Studio Code,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74585,25142.0,Go,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74586,25142.0,HTML/CSS,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74587,25142.0,PHP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74588,25142.0,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74589,25142.0,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Create a new DataFrame containing only the Top 10 Web Frame Desire Next Year:

In [4]:
# Step 3: Create a new DataFrame containing only the 10 Web Frame Desire Next Year according to respondents.
WFNY_df = df[df['WebFrameDesireNextYear'].notnull()]
# Step 4: Count the number of respondents who work with each web framework and sort the results in descending order.
WFNY_count = WFNY_df['WebFrameDesireNextYear'].value_counts().sort_values(ascending=False)
# Step 5: Select the top 10 web frameworks with the highest number of respondents.
top_WFNY = WFNY_count.head(10).index.tolist()
# Step 6: Create a new DataFrame with the top 10 web frameworks and their corresponding number of respondents.
top_WFNY_df = pd.DataFrame({'Web Frame Desire Next Year': top_WFNY, 'Respondents': WFNY_count.head(10).values})
print(top_WFNY_df)

  Web Frame Desire Next Year  Respondents
0                   React.js         4714
1                     Vue.js         3143
2         Angular/Angular.js         3059
3                    ASP.NET         2382
4                     jQuery         2241
5                    Express         1957
6                     Spring         1564
7                     Django         1504
8                      Flask         1240
9              Ruby on Rails          970

In [6]:
import tabulate
top_languages = df['WebFrameDesireNextYear'].value_counts().head(10)
# Create a new DataFrame with the top languages and their counts
top_languages_df = pd.DataFrame({'Web Framework': top_languages.index, 'Count': top_languages.values})
top_languages_df.index += 1
print(tabulate.tabulate(top_languages_df.reset_index(), headers=["Web Framework", "Count"], tablefmt="pipe", showindex=False))

|    | Web Framework      |   Count |
|---:|:-------------------|--------:|
|  1 | React.js           |    4714 |
|  2 | Vue.js             |    3143 |
|  3 | Angular/Angular.js |    3059 |
|  4 | ASP.NET            |    2382 |
|  5 | jQuery             |    2241 |
|  6 | Express            |    1957 |
|  7 | Spring             |    1564 |
|  8 | Django             |    1504 |
|  9 | Flask              |    1240 |
| 10 | Ruby on Rails      |     970 |

Convert data frame to cvs and save to local disk:

In [5]:
#convert data frame to cvs and save to local disk
import tempfile
tempdir = tempfile.gettempdir()
top_WFNY_df.to_csv(tempdir + '/top10_WebFrameDesireNextYear.csv', index=False)
from IPython.display import FileLink
FileLink(tempdir + '/top10_WebFrameDesireNextYear.csv')

C:\Users\Boris\AppData\Local\Temp\WebFrameDesireNextYear.csv

Hierarchy bubble chart only on Cognos